.btn {
  display: block;
  width: 90%;
  max-width: 350px;
  padding: 15px;
  margin: 10px auto;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
}

.login {
  background: #f1c40f;
  color: #000;
}

.daftar {
  background: #e74c3c;
  color: #fff;
}
